/* CSS for headers */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* CSS for the friend list */
.friend {
    margin-bottom: 8px;
}

/* CSS for friend requests */
.friend-request {
    margin-bottom: 12px;
}

/* CSS for inline forms */
.inline-form {
    display: inline-block;
    margin-left: 10px;
}

.function-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 4px;
}

.link {
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.link:hover {
    border-radius: 15px;
    background-color: darkred;
    border: 3px solid darkred;
}

header {
    background-color: #ff6b6b;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    float: right;
}

/* CSS for buttons */
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover {
    opacity: 0.8;
}

.sort-menu {
    float: left;
    width: 30%;
    position: relative;
}


.blue-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: darkblue;
}

.blue-btn:focus {
  outline: none;
}

.blue-btn:active {
  background-color: navy;
}