{% extends 'base.html' %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/cost.css' %}">
{% endblock %}

{% block title %}
    Payment | Dungy
{% endblock %}

{% block content %}
    <div class="container">
        <p>Are you sure you want to <strong class="attention">pay</strong> <strong>{{ amount }} Toman</strong> for
            <strong>{{ object.description }}</strong> in group
            <strong>{{ object.group.name }}</strong>?</p>
        <a class="btn btn-primary" href="{% url 'pay-cost' group_slug=object.group.slug pk=object.id %}">Confirm</a>
        <br>
        <a class="btn btn-danger" href="{% url 'single-cost' group_slug=object.group.slug pk=object.id %}">Cancel</a>
    </div>
{% endblock %}
