{% extends 'base.html' %}

{% block title %}Delete Cost | Dungy{% endblock %}

{% block content %}
    <form method="post" action="{% url 'delete-cost' group_slug=object.group.slug pk=object.id %}">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.description }}" in group "{{ object.group.name }}"?</p>
        <input type="submit" value="Confirm">
        <a href="{% url 'single-cost' group_slug=object.group.slug pk=object.id %}">Back</a>
    </form>
{% endblock %}
