{% extends "base.html" %}
{% load static %}
{% load startswith %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/group.css' %}">
{% endblock %}

{% block title %}
    Create a group | Dungy
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="group-title">Create a Group</h1>
        <form id="create-group-form" method="post" action="{% url 'create-group' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="field.id_for_label" class="form-label">Group Name</label>
                {{ form.name }}
                <div class="error-list">
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr class="form-divider">
            <div id="members-container" class="form-group">
                <span class="members-heading">MEMBERS</span>
                {{ form.members_fields_count }}
                <div class="member-info">
                    <span>{{ user.username }} ({{ user.email }})</span>
                </div>
                <br>
                {% for field in form %}
                    {% if field.name|startswith:"member_" %}
                        <div id="{{ field.name }}-container" class="form-group">
                            <div>
                                <label for="{{ field.id_for_label }}" class="form-label">Member</label>
                                <div class="row">
                                    <div class="col-11">
                                        {{ field }}
                                    </div>
                                    <div class="col-1 text-center">
                                        <button id="remove-{{ field.name }}" data-field-name="{{ field.name }}"
                                                class="remove-btn red-btn">X
                                        </button>
                                    </div>
                                </div>
                                <div class="error-list">
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button id="add-extra-member" class="btn btn-success">+ Add a person</button>
            <hr class="form-divider">
            <div class="form-group">
                <label for="field.id_for_label" class="form-label">Group Type</label>
                {{ form.type }}
                <div class="error-list">
                    <ul>
                        {% for error in form.type.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr class="form-divider">
            <div class="form-group">
                <label for="field.id_for_label" class="form-label">Group Image</label>
                {{ form.image }}
                <div class="error-list">
                    <ul>
                        {% for error in form.image.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <button id="submit" type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
            <a href="{% url 'dashboard' %}" class="btn btn-danger" role="button">Back</a>
        </form>
    </div>
{% endblock %}

{% block footer_refrences %}
    <script src="{% static 'js/group-add-remove-member.js' %}"></script>
{% endblock %}
