{% extends "base.html" %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/group_page.css' %}">
{% endblock %}

{% block title %}
    {{ object.name }} | Dungy
{% endblock %}

{% block content %}
    <header>
        <h1>{{ object.name }}</h1>
    </header>
    <div class="sidebar">
        <form action="{% url 'single-group' slug=object.slug %}" method="get">
            <label for="sort-by">Sort By</label>
            <select id="sort-by" name="sort-by">
                <option value="newest" {% if sort_by == 'newest' %}selected=""{% endif %}>
                    Newest
                </option>
                <option value="oldest" {% if sort_by == 'oldest' %}selected=""{% endif %}>
                    Oldest
                </option>
                <option value="amount-asc" {% if sort_by == 'amount-asc' %}selected=""{% endif %}>
                    Amount &#8593
                </option>
                <option value="amount-desc" {% if sort_by == 'amount-desc' %}selected=""{% endif %}>
                    Amount &#8595
                </option>
                <option value="description-asc" {% if sort_by == 'description-asc' %}selected=""{% endif %}>
                    Description &#8593
                </option>
                <option value="description-desc" {% if sort_by == 'description-desc' %}selected=""{% endif %}>
                    Description &#8595
                </option>
            </select>
            <br>
            <label for="archived-input">Archived</label>
            <input id="archived-input" name="archived" type="checkbox" {% if archived %}checked{% endif %}/>
            <br>
            <label for="only-input">Only My Costs</label>
            <input id="only-input" name="only" type="checkbox" {% if only %}checked{% endif %}/>
            <br>
            <label for="paid-input">Paid</label>
            <input id="paid-input" name="paid" type="checkbox" {% if paid %}checked{% endif %}
                   {% if not only %}disabled{% endif %}/>
            <br>
            <button id="submit-filter" type="submit">
                Filter
            </button>
        </form>
    </div>

    <div class="expense_section">
        <h2>Expenses</h2>
        {% for cost in costs %}
            <div>
                <span>{{ cost.date }}</span>
                <br>
                <span>{{ cost.description }}</span>
                <br>
                <span>{{ cost.paid_by.username }} paid {{ cost.amount }} Toman</span>
                <br>
                <a href="{% url 'single-cost' group_slug=cost.group.slug pk=cost.id %}">View</a>
                <br>
                <br>
            </div>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'create-cost' slug=object.slug %}">Add an expense</a>
    </div>

    <div class="profile-menu">
        <a class="profile-button" href="{% url 'dashboard' %}">Dashboard</a>
    </div>
{% endblock %}

{% block footer_refrences %}
    <script src="{% static 'js/group-add-remove-member.js' %}"></script>
{% endblock %}
