{% extends "base.html" %}
{% load static %}
{% load startswith %}

{% block title %}
	Create a group | Dungy
{% endblock %}

{% block content %}
	<h1>Create a Group</h1>
	<form id="create-group-form" method="post" action="{% url "create-group" %}" enctype=multipart/form-data>
		{% csrf_token %}
		<div>
			<div>
				<div>
					<label for="field.id_for_label">{{ form.name.label }}</label>
					{{ form.name }}
					<div>
						<ul>
							{% for error in form.name.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<hr>
			<div id="members-container">
				<span>MEMBERS</span>
				{{ form.members_fields_count }}
				<div>
					<span>{{ user.username }} ({{ user.email }})</span>
				</div>
				<br>
				{% for field in form %}
					{% if field.name|startswith:"member_" %}
						<div id="{{ field.name }}-container">
							<div>
								<label for="{{ field.id_for_label }}">{{ field.label }}</label>
								{{ field }}
								<button id="remove-{{ field.name }}" data-field-name="{{ field.name }}">X</button>
								<div>
									<ul>
										{% for error in field.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<button id="add-extra-member">+ Add a person</button>
			<hr>
			<div>
				<div>
					<label for="field.id_for_label">{{ form.type.label }}</label>
					{{ form.type }}
					<div>
						<ul>
							{% for error in form.type.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<hr>
			<div>
				<div>
					<label for="field.id_for_label">{{ form.image.label }}</label>
					{{ form.image }}
					<div>
						<ul>
							{% for error in form.image.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div>
				<div>
					<button id="submit" type="submit">
						Save
					</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block footer_refrences %}
	<script src="{% static 'js/group-add-remove-member.js' %}"></script>
{% endblock %}
