{% extends 'base.html' %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}Dashboard | Dungy{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <h1>Dungy</h1>
        </div>
    </header>

    <div class="container">
        <div class="dashboard-section">
            <h2>Your Balances</h2>
            <div class="balances">
                <div class="balance-card text-danger">
                    <h3>You Owe</h3>
                    <p>${{ owe }}</p>
                </div>
                <div class="balance-card text-success">
                    <h3>You Are Owed</h3>
                    <p>${{ owed }}</p>
                </div>
                <div class="balance-card text-primary">
                    <h3>Total Balance</h3>
                    <p>${{ total_balance }}</p>
                </div>
            </div>
        </div>

        <div class="table-container">
            <div>
                <h2>Expenses/Groups</h2>
                <table id="table">
                    <tbody id="table-body">
                    {% for group in groups %}
                        <tr>
                            <th>
                                <a href="{% url "single-group" slug=group.slug %}">{{ group.name }}</a>
                            </th>
                            {% for cost in group.costs_set.all %}
                                <td>
                                    {{ cost.description }}, {{ cost.amount }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="profile-menu">
        <a class="profile-button" href="{% url 'profile' %}">{{ username }}</a>
        <br>
        <a class="profile-button" href="{% url 'logout' %}">Logout</a>
        <br>
        <a class="profile-button" href="{% url 'increase-balance' %}">Increase Balance</a>
    </div>

    <div class="function-menu">
        <a class="profile-button" href={% url "create-group" %}>Create Group</a>
        <br>
        <a class="profile-button" href={% url "friends-list" %}>Friends</a>
    </div>

    <footer>
        <div class="container">
            &copy; 2023 Splitwise. All rights reserved.
        </div>
    </footer>
{% endblock %}

{% block footer_refrences %}
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
