{% extends 'base.html' %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}
    Dashboard | Dungy
{% endblock %}

{% block content %}
    <header>
        <div class="row">
            <div class="col-2">
                <div class="profile-menu">
                    <a class="profile-button" href="{% url 'profile' %}">{{ username }}</a>
                    <a class="profile-button" href="{% url 'increase-balance' %}">Wallet</a>
                    <a class="profile-button" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <div class="col-8 container">
                <a id="title-link" href="{% url 'home' %}">
                    <h1>Dungy</h1>
                </a>
            </div>
            <div class="col-2">
                <div class="function-menu">
                    <a class="profile-button" href={% url "create-group" %}>Create Group</a>
                    <a class="profile-button" href={% url "friends-list" %}>Friends</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row text-center">
            <div id="balance-card" class="col-4 offset-4 bg-dark rounded-5">
                <h3 class="text-light">Balance: {{ user.balance|floatformat:"3" }} Toman</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="dashboard-section">
            <div class="balances">
                <div class="balance-card text-danger">
                    <h3 class="fw-bold">You Owe</h3>
                    <hr>
                    <p>{{ owe|floatformat:"3" }} Toman</p>
                </div>
                <div class="balance-card text-success">
                    <h3 class="fw-bold">You Are Owed</h3>
                    <hr>
                    <p>{{ owed|floatformat:"3" }} Toman</p>
                </div>
                <div class="balance-card text-primary">
                    <h3 class="fw-bold">Total</h3>
                    <hr>
                    <p>{{ total_balance|floatformat:"3"  }} Toman</p>
                </div>
            </div>
        </div>

        <div class="table-container">
            <div class="row">
                <div class="table-owe col-4">
                    <h2 class="text-danger">Owe</h2>
                    <table id="table1">
                        <tbody id="table-body">
                        {% for cost in owe_costs %}
                            <tr>
                                <td>
                                    <a href="{% url 'single-cost' group_slug=cost.group.slug pk=cost.id %}">
                                        {{ cost.description }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-owed col-4">
                    <h2 class="text-success">Owed</h2>
                    <table id="table2">
                        <tbody id="table-body">
                        {% for cost in owed_costs %}
                            <tr>
                                <td>
                                    <a href="{% url 'single-cost' group_slug=cost.group.slug pk=cost.id %}">
                                        {{ cost.description }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-groups col-4">
                    <h2 class="text-primary">Groups</h2>
                    <table id="table3">
                        <tbody id="table-body">
                        {% for group in groups %}
                            <tr>
                                <td>
                                    <a href="{% url "single-group" slug=group.slug %}">{{ group.name }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_refrences %}
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
