{% extends 'base.html' %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Dungy
{% endblock %}

{% block content %}
    <header>
        <div class="row">
            <div class="col-2">
                <div class="profile-menu">
                    <a href="{% url 'home' %}">
                        <img style="height: 40px; width: 40px" class="image" src="../static/images/splitwise_logo.jpg"
                             alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-8 container">
                <a id="title-link" href="{% url 'home' %}">
                    <h1>Dungy</h1>
                </a>
            </div>
            <div class="col-2">
                <div class="function-menu">
                    {% if not request.user.is_authenticated %}
                        <div>
                            <a class="profile-button" href="{% url 'login' %}">Log In</a>
                        </div>
                    {% else %}
                        <div>
                            <a class="profile-button" href="{% url 'dashboard' %}">Dashboard</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="container2">
        <div class="row text-center">
            <div class="stats">
                <label class="item-head"><b>Stats</b></label>
                <br>
                <table>
                    <tr>
                        <th>User counts</th>
                        <th>Groups</th>
                        <th>Costs</th>
                        <th>Transactions</th>
                    </tr>
                    <tr>
                        <td>{{ users_count }}</td>
                        <td>{{ groups_count }}</td>
                        <td>{{ costs }}</td>
                        <td>{{ transactions }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <body>
    <br>
    <br>
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6 text-center">
            <a href="{% url 'login' %}" class="btn btn-lg btn-success">Manage your expenses</a>
        </div>

        <div class="col-3"></div>
    </div>
    </body>

    <footer>
        Made in Iran
        <br>
        Contact Us: +98 999 9999
        <br>
        Email: email@email.com
    </footer>

{% endblock %}

{% block footer_refrences %}
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
