{% extends 'base.html' %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/balance.css' %}">
{% endblock %}

{% block title %}
    Increase balance | Dungy
{% endblock %}

{% block content %}
    <header>Wallet</header>
    <body>
    <div class="balance-report">
        <label>your balance = {{ balance }} Toman</label>
    </div>
    <div>
        <form method="post" action="{% url 'increase-balance' %}">
            {% csrf_token %}
            {% for field in form %}
                <label id="{{ field.id_for_label }}"></label>
                {{ field }}
            {% endfor %}
            <button type="submit">Increase Balance</button>
        </form>
    </div>
    </body>

{% endblock %}
