{% extends "base.html" %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}">
{% endblock %}

{% block title %}Login | Dungy{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Splitwise Logo" width="150">
        </div>
        <h1>Log in to Dungy</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            {% if error %}
                <div class="errorlist">
                    {{ error }}
                </div>
            {% endif %}

            <button type="submit" class="btn">Log in</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock %}
