{% extends "base.html" %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block title %}
    Send a Friend Request | Dungy
{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo">
            <img width="150" src="{% static 'images/splitwise_logo.jpg' %}"
                 alt="Logo">
        </div>
        <h1>Send a Friend Request</h1>
        <form id="create-cost-form" method="post" action="{% url 'add-friend' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            {% if error %}
                <div class="errorlist">
                    {{ error }}
                </div>
            {% endif %}

            <div class="form-actions">
                <button id="submit" type="submit" class="btn btn-primary">Send Friend Request</button>
                <br>
                <a href="{% url 'friends-list' %}" class="btn" role="button">Back</a>
            </div>
        </form>
    </div>
{% endblock %}
