{% extends "base.html" %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block title %}
    Send a Friend Request | Dungy
{% endblock %}



{% block content %}
    <div class="container">
        <div class="splitwise-logo">
            <img height="100p" width="100p" src="{% static '../static/images/splitwise_logo.jpg' %}"
                 alt="Splitwise Logo">
        </div>
        <h1>Send a Friend Request</h1>
        <form id="create-cost-form" method="post" action="{% url 'add-friend' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <div class="error-messages">
                            {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-actions">
                    <button id="submit" type="submit" class="btn btn-primary">Send Friend Request</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
