{% extends "base.html" %}
{% load static %}
{% load startswith %}

{% block title %}
    Friends | Dungy
{% endblock %}

{% block content %}
    <div>
        <h2>Friends</h2>
        {% for friend in friends %}
            <div>
                <span>{{ friend.username }} ({{ friend.email }})</span>
            </div>
        {% endfor %}

        <h2>Sent Friend Requests</h2>
        {% for frient_request in sent_friend_requests %}
            <div>
                <span>
                    Friend Request to {{ frient_request.receiver.username }} ({{ frient_request.receiver.email }})
                </span>
                <form action="{% url "cancel-friend-request" %}" method="post" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ frient_request.receiver.username }}">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        {% endfor %}

        <h2>Received Friend Requests</h2>
        {% for frient_request in received_friend_requests %}
            <div>
                <span>
                    Friend Request from {{ frient_request.sender.username }} ({{ frient_request.sender.email }})
                </span>
                <form action="{% url "accept-friend-request" %}" method="post" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ frient_request.sender.username }}">
                    <button type="submit">Accept</button>
                </form>
                <form action="{% url "reject-friend-request" %}" method="post" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ frient_request.sender.username }}">
                    <button type="submit">Reject</button>
                </form>
            </div>
        {% endfor %}

        <br>
        <a href="{% url "add-friend" %}">Add Friend</a>
    </div>
{% endblock %}

