{% extends "base.html" %}
{% load static %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/friends_list.css' %}">
{% endblock %}

{% block title %}
    Friends | Splitwise
{% endblock %}

{% block content %}
    <header>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 container">
                <h1>Friends</h1>
            </div>
            <div class="col-2">
                <div class="function-menu">
                    <a class="profile-button" href="{% url 'add-friend' %}">Add Friend</a>
                    <a class="profile-button" href="{% url 'dashboard' %}">Dashboard</a>
                </div>
            </div>
        </div>
    </header>
    <div class="sort-menu container">
        <form id="sort-form" method="get" action="{% url 'friends-list' %}">
            <div class="filter-container">
                <label for="friends-sort-by">Sort Friends By</label>
                <select id="friends-sort-by" name="friends-sort-by">
                    <option value="username-asc" {% if friends_sort_by == 'username-asc' %}selected=""{% endif %}>
                        Username &#8593
                    </option>
                    <option value="username-desc" {% if friends_sort_by == 'username-desc' %}selected=""{% endif %}>
                        Username &#8595
                    </option>
                    <option value="email-asc" {% if friends_sort_by == 'email-asc' %}selected=""{% endif %}>
                        Email &#8593
                    </option>
                    <option value="email-desc" {% if friends_sort_by == 'email-desc' %}selected=""{% endif %}>
                        Email &#8595
                    </option>
                </select>
            </div>
            <div class="filter-container">
                <label for="sent-sort-by">Sort Sent Friend Requests By</label>
                <select id="sent-sort-by" name="sent-sort-by">
                    <option value="oldest" {% if sent_sort_by == 'oldest' %}selected=""{% endif %}>
                        Oldest
                    </option>
                    <option value="newest" {% if sent_sort_by == 'newest' %}selected=""{% endif %}>
                        Newest
                    </option>
                    <option value="username-asc" {% if sent_sort_by == 'username-asc' %}selected=""{% endif %}>
                        Username &#8593
                    </option>
                    <option value="username-desc" {% if sent_sort_by == 'username-desc' %}selected=""{% endif %}>
                        Username &#8595
                    </option>
                    <option value="email-asc" {% if sent_sort_by == 'email-asc' %}selected=""{% endif %}>
                        Email &#8593
                    </option>
                    <option value="email-desc" {% if sent_sort_by == 'email-desc' %}selected=""{% endif %}>
                        Email &#8595
                    </option>
                </select>
            </div>
            <div class="filter-container">
                <label for="received-sort-by">Sort Received Friend Requests By</label>
                <select id="received-sort-by" name="received-sort-by">
                    <option value="oldest" {% if received_sort_by == 'oldest' %}selected=""{% endif %}>
                        Oldest
                    </option>
                    <option value="newest" {% if received_sort_by == 'newest' %}selected=""{% endif %}>
                        Newest
                    </option>
                    <option value="username-asc" {% if received_sort_by == 'username-asc' %}selected=""{% endif %}>
                        Username &#8593
                    </option>
                    <option value="username-desc" {% if received_sort_by == 'username-desc' %}selected=""{% endif %}>
                        Username &#8595
                    </option>
                    <option value="email-asc" {% if received_sort_by == 'email-asc' %}selected=""{% endif %}>
                        Email &#8593
                    </option>
                    <option value="email-desc" {% if received_sort_by == 'email-desc' %}selected=""{% endif %}>
                        Email &#8595
                    </option>
                </select>
            </div>
            <div class="row text-center">
                <button id="filter-btn" class="btn btn-primary" type="submit">Apply</button>
            </div>
        </form>
    </div>
    <div class="container2">
        <h2>Friends</h2>
        <table>
            {% for friend in friends %}
                <tr class="friend">{{ friend.username }} ({{ friend.email }})</tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Sent Friend Requests</h2>
        <table>
            {% for friend_request in sent_friend_requests %}
                <tr class="friend-request">
                <span>
                    Friend Request to {{ friend_request.receiver.username }} ({{ friend_request.receiver.email }})
                </span>
                    <form action="{% url 'cancel-friend-request' %}" method="post" class="inline-form">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ friend_request.receiver.username }}">
                        <button type="submit" class="btn btn-secondary">Cancel</button>
                    </form>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <h2>Received Friend Requests</h2>
        <table>
            {% for friend_request in received_friend_requests %}
                <tr class="friend-request">
                <span>
                    Friend Request from {{ friend_request.sender.username }} ({{ friend_request.sender.email }})
                </span>
                    <form action="{% url 'accept-friend-request' %}" method="post" class="inline-form">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ friend_request.sender.username }}">
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
                    <form action="{% url 'reject-friend-request' %}" method="post" class="inline-form">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ friend_request.sender.username }}">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
